.border{
    width: 300px;
    height: 300px;
    border: solid;
    border-top-left-radius: 170px;
    border-bottom-right-radius: 170px;
    background-color: green;
   /* border-radius: 50px 30px;*/
}
.box-basic{
    width: 150px;
    height: 150px;
    border: solid rgb(110, 103, 103);
  /*  box-shadow: inset;*/
    box-shadow: 5px 15px 10px red;

}

.box-blur{
    width: 150px;
    height: 150px;
    border: solid blue;
    box-shadow: 5px 15px 10px rgb(10, 19, 146, 0.5);

}