*{
    margin: 0;
    padding: 0;
}

body {
  min-height: 100dvh;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(242,108,108,1) 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80%;
  margin: 0 auto;
  background-color: #ededed35;
  gap: 1em;
  margin: 4em;
  border-radius: 20px;
  padding: 1em;

  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, 100px);

  grid-template-areas: 'morado morado gris blanco'
                       'blanco2 gris negro blanco';
}

.caja {
  height: 100%;
  background-color: #ededed35;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
}

.caja:nth-child(1) {
  grid-area: morado;
}

.caja:nth-child(2) {
  grid-area: gris;
}

.caja:nth-child(3) {
  grid-area: blanco;
}

.caja:nth-child(4) {
  grid-area: blanco2;
}

.caja:nth-child(5) {
  grid-area: negro;
}