.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: 0.5s ease-out;
    opacity: 1;
}

.box:hover{
    background-color: red;
    width: 350px;
    height: 100px;
    opacity: 0.5;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: blue;
    transform: rotate(0deg);
    transition: width 1s, height 1s, background-color 1s,transform 1s;
}

.box1:hover{
    width: 150px;
    height: 150px;
    background-color: pink;
    transform: rotate(100deg)
}